body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: #cfe6ff;  

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 40px;
    width: 380px;

    text-align: center;

    border-radius: 20px;

    border: 3px solid #6aa7ff;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 25px;
    color: #333;
}


input[type="file"] {
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background: #4a8af4;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #336fd1;
}

img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #4a8af4;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}